body{
    margin: 0;
    font-family: 'Arial',  sans-serif;
    background-color: whitesmoke;
}

header{
    padding-left: 1rem;
    background-color: white;
    margin: 0;
}

#logo{
    height: 50px;
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
    padding-left: 1rem;
    font-weight: 800;
}

main{
    width: 70%;
    margin: auto;
    margin-top: 3rem;
}

#button_section{
    height: 3rem;
    background-color: white;
    height: 3rem;
    line-height: 3rem;
    padding-left: 3rem;
    margin: 0.1rem;
    
}

#add_task{
    background-color: deepskyblue;
    color: white;
    border: 2px solid deepskyblue;
    border-radius: 5px;
}

#add_section{
    background-color: white;
    color: lightgrey;
    border: 2px solid lightgrey;
    border-radius: 5px;
}

#list{
    background-color: white;
    padding: 3rem;
    margin: 0.1rem;
}

.drop_down_arrow{
    font-size: 1rem;
}

.check_line{
    padding-left: 0.5rem;
    margin-bottom: 1.5rem;
}

.check{
    padding: 0.1rem;
    border-radius: 50%;
    border: 1px solid green;
    height: 1rem;
    color: green;
}

.cross{
    padding: 0.1rem;
    border-radius: 50%;
    border: 1px solid red;
    height: 1rem;
    color: red;
}

.editorial{
    padding: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    background-color: deepskyblue;
    color: white;
    border-radius: 10px;
    font-size: 0.6rem;
}

.q1goals{
    padding: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    background-color: mediumslateblue;
    color: white;
    border-radius: 10px;
    font-size: 0.6rem;
}

.recruiting{
    padding: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    background-color: mediumseagreen;
    color: white;
    border-radius: 10px;
    font-size: 0.6rem;
}

.mobile{
    padding: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    background-color: orange;
    color: white;
    border-radius: 10px;
    font-size: 0.6rem;
}

.website{
    padding: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    background-color: fuchsia;
    color: white;
    border-radius: 10px;
    font-size: 0.6rem;
}

.sales{
    padding: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    background-color:olivedrab;
    color: white;
    border-radius: 10px;
    font-size: 0.6rem;
}