body{
    font-family: 'Arial',  sans-serif;
}

header{
    padding: 1.5rem;
    background-color: white;
}

#logo{
    height: 50px;
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
    padding-left: 1rem;
    font-weight: 800;
}