* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial',  sans-serif;
    background-color: #f6f8f9;
}

header{
    padding: 1rem;
    background-color: #ffffff;
    margin: 0;
}

#logo{
    height: 50px;
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
    padding-left: 1rem;
    font-weight: 800;
}

main{
    width: 70%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

#button_section{
    height: 3rem;
    background-color: #ffffff;
    height: 3rem;
    line-height: 3rem;
    padding-left: 3rem;
    margin: 0.1rem;
    
}

#add_task{
    background-color: #45abea;
    color: #ffffff;
    border: 2px solid #45abea;
    border-radius: 5px;
    padding: 0.2rem;
}

#add_section{
    background-color: #ffffff;
    color: #dee1e4;
    border: 2px solid #dee1e4;
    border-radius: 5px;
    padding: 0.2rem;
}

#list{
    background-color: #ffffff;
    padding: 3rem;
    margin: 0.1rem;
}

.drop_down_arrow{
    font-size: 1rem;
}

.check_line{
    padding-left: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.check{
    display: inline-block;
    height: 1.2rem;
    width: 1.2rem;
    line-height: 0.9rem;
    padding: 0.1rem;
    border-radius: 50%;
    border: 1px solid #86cfbf;
    color: #86cfbf;
    vertical-align: middle;
}

.cross{
    display: inline-block;
    height: 1.2rem;
    width: 1.2rem;
    line-height: 0.9rem;
    padding: 0.1rem;
    border-radius: 50%;
    border: 1px solid #eb5f59;
    color: #eb5f59;
    vertical-align: middle;
}

.editorial{
    padding: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    background-color: #45abea;
    color: #ffffff;
    border-radius: 10px;
    font-size: 0.6rem;
}

.q1goals{
    padding: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    background-color: #9c72e4;
    color: #ffffff;
    border-radius: 10px;
    font-size: 0.6rem;
}

.recruiting{
    padding: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    background-color: #64c0a9;
    color: #ffffff;
    border-radius: 10px;
    font-size: 0.6rem;
}

.mobile{
    padding: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    background-color: #f29e33;
    color: #ffffff;
    border-radius: 10px;
    font-size: 0.6rem;
}

.website{
    padding: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    background-color: #d863a1;
    color: #ffffff;
    border-radius: 10px;
    font-size: 0.6rem;
}

.sales{
    padding: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    background-color: #b0c926;
    color: #ffffff;
    border-radius: 10px;
    font-size: 0.6rem;
}